.menuLinkItem {
  --dsc-link-background--active: var(--ds-color-surface-tinted);
  --dsc-link-color--hover: var(--ds-color-text-default);
  --dsc-link-color: var(--ds-color-text-default);
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: var(--ds-size-2);
  height: var(--ds-size-10);
  justify-content: flex-start;
  min-height: unset;
  padding: var(--ds-size-2) var(--ds-size-4);
  text-decoration: none;
  width: 100%;

  &:hover {
    background: var(--ds-color-surface-tinted);
  }
}

.menuLinkItemIcon {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: fit-content;
}

.menuLinkItemBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ds-color-info-text-default);
  background-color: var(--ds-color-info-surface-tinted);
  width: var(--ds-size-7);
  height: var(--ds-size-7);
  border-radius: 50%;
  font-size: var(--ds-font-size-3);
  font-weight: 400;
  margin-left: auto;

  &.warning {
    color: var(--ds-color-warning-text-default);
    background-color: var(--ds-color-warning-surface-tinted);
  }

  &.success {
    color: var(--ds-color-success-text-default);
    background-color: var(--ds-color-success-surface-tinted);
  }

  &.danger {
    color: var(--ds-color-danger-text-default);
    background-color: var(--ds-color-danger-surface-tinted);
  }
}

.darkModeMenuItem {
  padding: var(--ds-size-2) var(--ds-size-4);
}
