.at-filepicker {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 43rem;
  gap: var(--ds-size-1);
}

/**
* Dropzone
*/
.at-filepicker-dropzone-wrapper {
  position: relative;
}

.at-filepicker-dropzone {
  display: flex;
  width: 100%;
  --filepicker-dropzone-min-height: calc(var(--ds-size-30) + var(--ds-size-3));
  min-height: var(--filepicker-dropzone-min-height);
  padding: var(--ds-size-6) 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--ds-size-0);
  border-radius: var(--ds-border-radius-default);
  border: 2px dashed var(--ds-color-info-border-default);
  background-color: var(--ds-color-background-default);
  color: var(--ds-color-text-default);
  cursor: pointer;

  &.has-error {
    border-color: var(--ds-color-danger-border-default);
  }

  &:hover:not(:disabled) {
    border-color: var(--ds-color-info-border-default);
    border-style: solid;
  }

  & span {
    gap: var(--ds-size-2);
  }

  /* Ensure all child elements don't interfere with pointer events and inherit cursor */
  & * {
    pointer-events: none;
    cursor: inherit;
  }

  /* When disabled, restore pointer events for child elements but use disabled cursor */
  &:disabled {
    cursor: not-allowed;

    & * {
      pointer-events: auto;
      cursor: not-allowed;
    }
  }

  &[aria-busy="true"] {
    cursor: progress;
  }

  &.is-drag {
    border-style: solid; /* switch from dashed while dragging */
    border-color: var(--ds-color-info-base-default);
    background-color: var(--ds-color-info-surface-tinted);
    /* Optional subtle elevation */
    box-shadow: 0 0 0 1px var(--ds-color-info-border-subtle);
  }
}

/**
* Errors
*/
.at-filepicker-errors {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-2);
}

/**
* Files table
*/
.at-filepicker-files-table {
}

.at-filepicker-files-table th,
.at-filepicker-files-table td {
  white-space: nowrap;
}

.at-filepicker-files-table :is(th, td) {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Filename column: takes remaining width and truncates */
.at-filepicker-files-table :is(th, td):not(:first-child) {
  width: max-content;
}

.at-filepicker-files-table tr[data-error="true"] {
  background: var(--ds-color-danger-surface-tinted);
}

.at-filepicker-files-file__name {
  /* color: var(--ds-color) */

  a {
    display: flex;
    align-items: center;
    gap: var(--ds-size-1);

    &[aria-disabled="true"] {
      cursor: not-allowed;
    }
  }
}

.at-filepicker-files-table tbody tr:has(.at-filepicker-files-file__name:hover) {
  background: var(--ds-color-neutral-surface-tinted);
}

.at-filepicker-files-file__remove {
}
