.at-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  container-type: inline-size; /* Enable container queries */
  margin: var(--ds-size-2) var(--ds-size-4);

  & .ds-search {
    align-self: self-start;
  }

  /* disable visited color in both the navigation and dropdown menu */
  & .ds-link {
    --dsc-link-color--visited: var(--dsc-link-color);
  }
}

.at-header__title-background {
  width: 100%;
}

.at-header__title {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.at-header__title-left,
.at-header__title-center,
.at-header__title-right {
  display: flex;
  align-items: center;
}

.at-header__title-left {
  justify-content: flex-start;
  gap: var(--ds-size-4);
  margin-right: var(--ds-size-22);
}

.at-header__title-center {
  justify-content: flex-start;
  gap: var(--ds-size-8);
  flex: 1;
}

.at-header__title-link:not(:hover):not(:focus-visible),
.at-header__title-dropdown-controls .ds-link:not(:hover):not(:focus-visible) {
  text-decoration-line: none;
}

.at-header__title-right {
  justify-content: flex-end;
}

.at-header__title-dropdown-mobile {
  display: none;
}

.at-header__title-dropdown-desktop {
  display: inline-flex;
}

.at-header__title-dropdown-controls {
  padding: var(--ds-size-2) var(--ds-size-4);
}

.at-header__title-dropdown-item-mobile {
  display: none;
}

/* Responsive adjustments */
@media (max-width: 48rem) {
  .at-header {
    & .ds-search {
      max-width: 100%;
    }
  }
}

@container (max-width: 48rem) {
  .at-header__title {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .at-header__title-left {
    margin-right: 0;
  }

  .at-header__title-right {
    justify-content: flex-end;
  }

  .at-header__title-center {
    display: none;
  }

  .at-header__title-logo {
    display: none;
  }

  .at-header__title-dropdown-mobile {
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    gap: var(--ds-size-0);
  }
  .at-header__title-dropdown-desktop {
    display: none;
  }

  .at-header__title-dropdown-item-mobile {
    display: block;
  }
}
