.at-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  container-type: inline-size; /* Enable container queries */
  padding-left: var(--ds-size-15);

  & .ds-search {
    align-self: self-start;
  }
}

.at-header__title-background {
  width: 100%;
}

.at-header__title {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.at-header__title-left,
.at-header__title-center,
.at-header__title-right {
  display: flex;
  align-items: center;
}

.at-header__title-left {
  justify-content: flex-start;
  gap: var(--ds-size-4);
  margin-right: var(--ds-size-22);
}

.at-header__title-center {
  justify-content: flex-start;
  gap: var(--ds-size-8);
  flex: 1;
}

.at-header__title-link {
  text-decoration: none;
}

.at-header__title-right {
  justify-content: flex-end;
}

.at-header__title-dropdown-mobile {
  display: none;
}

.at-header__title-dropdown-desktop {
  display: inline-flex;
}

.at-header__title-dropdown-controls {
  padding: var(--ds-size-2) var(--ds-size-4);
}

.at-header__links-root {
  width: 100%;
}

.at-header__links {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-left: var(--ds-size-4);
  padding-top: var(--ds-size-2);
  padding-bottom: var(--ds-size-2);
  gap: var(--ds-size-8);
}

.at-header__links-desktop {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-left: var(--ds-size-4);
  padding-top: var(--ds-size-2);
  padding-bottom: var(--ds-size-2);
  gap: var(--ds-size-8);
}

.at-header__links-mobile {
  display: none;
}

/* Responsive adjustments */
@media (max-width: 30rem) {
  .at-header {
    padding-left: var(--ds-size-4);
  }
}

@container (max-width: 30rem) {
  .at-header__title {
    display: flex;
  }
  .at-header__title-logo {
    display: none;
  }
  .at-header__title-center {
    display: none;
  }
  .at-header__search {
    width: 100%;
  }

  .at-header__title-dropdown-mobile {
    display: inline-flex;
  }
  .at-header__title-dropdown-desktop {
    display: none;
  }
  .at-header__links-desktop {
    display: none;
  }
  .at-header__links-mobile {
    display: flex;
  }
}
