.at-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  container-type: inline-size; /* Enable container queries */
  --padding-left: 4rem;
}

.at-header__banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1.1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background-color: var(--ds-color-primary-base-default);
  color: var(--ds-color-danger-text-default);
  font-weight: bold;
}

.at-header__title-background {
  width: 100%;
}

.at-header__title {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0 var(--padding-left);
}

[data-color-scheme="light"] {
  .at-header__title-light {
    display: flex;
  }
  .at-header__title-dark {
    display: none;
  }
}

[data-color-scheme="dark"] {
  .at-header__title-light {
    display: none;
  }
  .at-header__title-dark {
    display: flex;
  }
}

.at-header__title-left,
.at-header__title-center,
.at-header__title-right {
  display: flex;
  align-items: center;
  flex: 1;
}

.at-header__title-left {
  justify-content: flex-start;
}

.at-header__title-center {
  justify-content: center;
}

.at-header__title-right {
  justify-content: flex-end;
}

.at-header__search-background {
  width: 100%;
  background-color: var(--ds-color-primary-background-tinted);
}

.at-header__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 26rem;
  padding-left: var(--padding-left);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.at-header__links-root {
  width: 100%;
  background-color: var(--ds-color-primary-background-tinted);
  position: relative;
  --bar-width: 40px;
  --bar-height: 4px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: none;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: -2.5rem;
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.at-header__links {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-left: var(--padding-left);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  gap: 2rem;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition:
    opacity var(--animation-timing),
    width var(--animation-timing),
    rotate var(--animation-timing),
    translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:checked) + .at-header__links {
  translate: 0;
}

/* Responsive adjustments */
@container (max-width: 30rem) {
  .at-header__search {
    width: 100%;
    justify-content: flex-end;
    padding-top: 0.5rem;
  }
  .at-header__search-background {
    height: 3rem;
  }
  .at-header__title-left svg {
    width: 5rem;
    height: 2rem;
  }
  .hamburger-menu {
    display: flex;
  }
  .at-header__links {
    padding-left: 0.2rem;
    flex-wrap: wrap;
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
  }
  .at-header__title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 2rem;
    height: auto;
    padding: 0.5rem 1rem;
    flex: auto;
  }
  .at-header__title-left {
    height: 2rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-content: flex-start;
  }
  .at-header__title-center {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    justify-content: flex-start;
  }
  .at-header__title-right {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    justify-content: flex-end;
  }
  .at-header__title-brukernavn {
    display: none;
  }
}
