.at-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.at-header__banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1.1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background-color: var(--ds-color-primary-base-default);
  color: var(--ds-color-danger-text-default);
  font-weight: bold;
}

.at-header__title-background {
  width: 100%;
}

.at-header__title {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0 4rem;
  height: 3.5rem;
}

[data-color-scheme="dark"] {
  .at-header__title-light {
    display: none;
  }
  .at-header__title-dark {
    display: flex;
  }
}

.at-header__title-left,
.at-header__title-center,
.at-header__title-right {
  display: flex;
  align-items: center;
  flex: 1;
}

.at-header__title-left {
  justify-content: flex-start;
}

.at-header__title-center {
  justify-content: center;
}

.at-header__title-right {
  justify-content: flex-end;
}

.at-header__search-background {
  width: 100%;
  background-color: var(--ds-color-brand-1-surface-tinted);
}

.at-header__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 4rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.at-header__links-background {
  width: 100%;
  background-color: var(--ds-color-primary-border-subtle);
}

.at-header__links {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding-left: 4rem;
}
