@import "@digdir/designsystemet-css/dist/src/index.css";

@import "./button.css" layer(at.components);
@import "./filepicker.css" layer(at.components);
@import "./header.css" layer(at.components);
@import "./lightdarkimage.css" layer(at.components);
