@charset "UTF-8";
/*
build: v1.1.10
*/

@layer ds.theme.color-scheme.light {
:root, [data-color-scheme="light"] {


  color-scheme: light;
}
 
@media (prefers-color-scheme: light) {
  [data-color-scheme="auto"] {


  color-scheme: light;
}

}

}


@layer ds.theme.semantic {
:root {
  --ds-arbeidstilsynet-main: Inter;
  --ds-arbeidstilsynet-bold: Medium;
  --ds-arbeidstilsynet-extra-bold: Semi bold;
  --ds-arbeidstilsynet-regular: Regular;
  --ds-border-radius-sm: 2;
  --ds-border-radius-md: 4;
  --ds-border-radius-lg: 8;
  --ds-border-radius-default: var(--ds-border-radius-base);
  --ds-border-radius-full: 9999;
  --ds-border-radius-xl: 12;
  --ds-border-radius-base: 4;
  --ds-border-radius-scale: 4;
  --ds-border-width-default: 1;
  --ds-border-width-focus: 3;
  --ds-disabled-opacity: 30;
  --ds-size-base: 18;
  --ds-size-step: 4;
  --ds-font-weight-medium: Medium;
  --ds-font-weight-semibold: Semi bold;
  --ds-font-weight-regular: Regular;
  --ds-font-family: Inter;

  --ds-size-0:  0;;
  --ds-size-1:  4;;
  --ds-size-2:  8;;
  --ds-size-3:  12;;
  --ds-size-4:  16;;
  --ds-size-5:  20;;
  --ds-size-6:  24;;
  --ds-size-7:  28;;
  --ds-size-8:  32;;
  --ds-size-9:  36;;
  --ds-size-10:  40;;
  --ds-size-11:  44;;
  --ds-size-12:  48;;
  --ds-size-13:  52;;
  --ds-size-14:  56;;
  --ds-size-15:  60;;
  --ds-size-18:  72;;
  --ds-size-22:  88;;
  --ds-size-26:  104;;
  --ds-size-30:  120;;

  @supports (width: round(down, .1em, 1px)) {
  --ds-size-0: round(down,  0;, 1px);
  --ds-size-1: round(down,  4;, 1px);
  --ds-size-2: round(down,  8;, 1px);
  --ds-size-3: round(down,  12;, 1px);
  --ds-size-4: round(down,  16;, 1px);
  --ds-size-5: round(down,  20;, 1px);
  --ds-size-6: round(down,  24;, 1px);
  --ds-size-7: round(down,  28;, 1px);
  --ds-size-8: round(down,  32;, 1px);
  --ds-size-9: round(down,  36;, 1px);
  --ds-size-10: round(down,  40;, 1px);
  --ds-size-11: round(down,  44;, 1px);
  --ds-size-12: round(down,  48;, 1px);
  --ds-size-13: round(down,  52;, 1px);
  --ds-size-14: round(down,  56;, 1px);
  --ds-size-15: round(down,  60;, 1px);
  --ds-size-18: round(down,  72;, 1px);
  --ds-size-22: round(down,  88;, 1px);
  --ds-size-26: round(down,  104;, 1px);
  --ds-size-30: round(down,  120;, 1px);
  }
}

}

@layer ds.theme.color-scheme.dark {
[data-color-scheme="dark"] {


  color-scheme: dark;
}
 
@media (prefers-color-scheme: dark) {
  [data-color-scheme="auto"] {


  color-scheme: dark;
}

}

}




@layer ds.theme.color {
[data-color="inspirator"], [data-color-scheme][data-color="inspirator"] {
  --ds-color-background-default: var(--ds-color-inspirator-background-default);
  --ds-color-background-tinted: var(--ds-color-inspirator-background-tinted);
  --ds-color-surface-tinted: var(--ds-color-inspirator-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-inspirator-surface-hover);
  --ds-color-surface-active: var(--ds-color-inspirator-surface-active);
  --ds-color-border-subtle: var(--ds-color-inspirator-border-subtle);
  --ds-color-border-default: var(--ds-color-inspirator-border-default);
  --ds-color-border-strong: var(--ds-color-inspirator-border-strong);
  --ds-color-base-default: var(--ds-color-inspirator-base-default);
  --ds-color-base-hover: var(--ds-color-inspirator-base-hover);
  --ds-color-base-active: var(--ds-color-inspirator-base-active);
  --ds-color-text-subtle: var(--ds-color-inspirator-text-subtle);
  --ds-color-text-default: var(--ds-color-inspirator-text-default);
  --ds-color-base-contrast-default: var(--ds-color-inspirator-base-contrast-default);
  --ds-color-base-contrast-subtle: var(--ds-color-inspirator-base-contrast-subtle);
  --ds-color-surface-default: var(--ds-color-inspirator-surface-default);
}

}


@layer ds.theme.color {
:root, [data-color-scheme], [data-color="primary"] {
  --ds-color-background-default: var(--ds-color-primary-background-default);
  --ds-color-background-tinted: var(--ds-color-primary-background-tinted);
  --ds-color-surface-tinted: var(--ds-color-primary-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-primary-surface-hover);
  --ds-color-surface-active: var(--ds-color-primary-surface-active);
  --ds-color-border-subtle: var(--ds-color-primary-border-subtle);
  --ds-color-border-default: var(--ds-color-primary-border-default);
  --ds-color-border-strong: var(--ds-color-primary-border-strong);
  --ds-color-base-default: var(--ds-color-primary-base-default);
  --ds-color-base-hover: var(--ds-color-primary-base-hover);
  --ds-color-base-active: var(--ds-color-primary-base-active);
  --ds-color-text-subtle: var(--ds-color-primary-text-subtle);
  --ds-color-text-default: var(--ds-color-primary-text-default);
  --ds-color-base-contrast-default: var(--ds-color-primary-base-contrast-default);
  --ds-color-base-contrast-subtle: var(--ds-color-primary-base-contrast-subtle);
  --ds-color-surface-default: var(--ds-color-primary-surface-default);
}

}


@layer ds.theme.color {
[data-color="tilsyn"], [data-color-scheme][data-color="tilsyn"] {
  --ds-color-background-default: var(--ds-color-tilsyn-background-default);
  --ds-color-background-tinted: var(--ds-color-tilsyn-background-tinted);
  --ds-color-surface-tinted: var(--ds-color-tilsyn-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-tilsyn-surface-hover);
  --ds-color-surface-active: var(--ds-color-tilsyn-surface-active);
  --ds-color-border-subtle: var(--ds-color-tilsyn-border-subtle);
  --ds-color-border-default: var(--ds-color-tilsyn-border-default);
  --ds-color-border-strong: var(--ds-color-tilsyn-border-strong);
  --ds-color-base-default: var(--ds-color-tilsyn-base-default);
  --ds-color-base-hover: var(--ds-color-tilsyn-base-hover);
  --ds-color-base-active: var(--ds-color-tilsyn-base-active);
  --ds-color-text-subtle: var(--ds-color-tilsyn-text-subtle);
  --ds-color-text-default: var(--ds-color-tilsyn-text-default);
  --ds-color-base-contrast-default: var(--ds-color-tilsyn-base-contrast-default);
  --ds-color-base-contrast-subtle: var(--ds-color-tilsyn-base-contrast-subtle);
  --ds-color-surface-default: var(--ds-color-tilsyn-surface-default);
}

}

@layer ds.theme.color {
[data-color="veileder"], [data-color-scheme][data-color="veileder"] {
  --ds-color-background-default: var(--ds-color-veileder-background-default);
  --ds-color-background-tinted: var(--ds-color-veileder-background-tinted);
  --ds-color-surface-tinted: var(--ds-color-veileder-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-veileder-surface-hover);
  --ds-color-surface-active: var(--ds-color-veileder-surface-active);
  --ds-color-border-subtle: var(--ds-color-veileder-border-subtle);
  --ds-color-border-default: var(--ds-color-veileder-border-default);
  --ds-color-border-strong: var(--ds-color-veileder-border-strong);
  --ds-color-base-default: var(--ds-color-veileder-base-default);
  --ds-color-base-hover: var(--ds-color-veileder-base-hover);
  --ds-color-base-active: var(--ds-color-veileder-base-active);
  --ds-color-text-subtle: var(--ds-color-veileder-text-subtle);
  --ds-color-text-default: var(--ds-color-veileder-text-default);
  --ds-color-base-contrast-default: var(--ds-color-veileder-base-contrast-default);
  --ds-color-base-contrast-subtle: var(--ds-color-veileder-base-contrast-subtle);
  --ds-color-surface-default: var(--ds-color-veileder-surface-default);
}

}

