@charset "UTF-8";
/*
build: v1.11.0
design-tokens: v1.11.0
*/

@layer ds.theme.size-mode {
:root /* small */ {
  --ds-size-mode-font-size--sm: 1;
}
}

@layer ds.theme.size-mode {
:root /* medium */ {
  --ds-size-mode-font-size--md: 1.125;
}
}

@layer ds.theme.size-mode {
:root /* large */ {
  --ds-size-mode-font-size--lg: 1.3125;
}
}

@layer ds.theme.size-mode {
:root, [data-size] {
  --ds-size: var(--ds-size--md);
  --ds-size--sm: var(--ds-size,);
  --ds-size--md: var(--ds-size,);
  --ds-size--lg: var(--ds-size,);
  --ds-size-mode-font-size:
    var(--ds-size--sm, var(--ds-size-mode-font-size--sm))
    var(--ds-size--md, var(--ds-size-mode-font-size--md))
    var(--ds-size--lg, var(--ds-size-mode-font-size--lg));
}

[data-size='sm'] { --ds-size: var(--ds-size--sm); }
[data-size='md'] { --ds-size: var(--ds-size--md); }
[data-size='lg'] { --ds-size: var(--ds-size--lg); }
}

@layer ds.theme.type-scale {
:root, [data-size] {
  --_ds-font-size-factor: calc(var(--ds-size-mode-font-size) / (var(--ds-size-base) / 16));
  --ds-font-size-1: calc(0.75rem * var(--_ds-font-size-factor));
  --ds-font-size-2: calc(0.875rem * var(--_ds-font-size-factor));
  --ds-font-size-3: calc(1rem * var(--_ds-font-size-factor));
  --ds-font-size-4: calc(1.125rem * var(--_ds-font-size-factor));
  --ds-font-size-5: calc(1.3125rem * var(--_ds-font-size-factor));
  --ds-font-size-6: calc(1.5rem * var(--_ds-font-size-factor));
  --ds-font-size-7: calc(1.875rem * var(--_ds-font-size-factor));
  --ds-font-size-8: calc(2.25rem * var(--_ds-font-size-factor));
  --ds-font-size-9: calc(3rem * var(--_ds-font-size-factor));
  --ds-font-size-10: calc(3.75rem * var(--_ds-font-size-factor));
  --ds-heading-2xl-font-size: var(--ds-font-size-10);
  --ds-heading-xl-font-size: var(--ds-font-size-9);
  --ds-heading-lg-font-size: var(--ds-font-size-8);
  --ds-heading-md-font-size: var(--ds-font-size-7);
  --ds-heading-sm-font-size: var(--ds-font-size-6);
  --ds-heading-xs-font-size: var(--ds-font-size-5);
  --ds-heading-2xs-font-size: var(--ds-font-size-4);
  --ds-body-xl-font-size: var(--ds-font-size-6);
  --ds-body-lg-font-size: var(--ds-font-size-5);
  --ds-body-md-font-size: var(--ds-font-size-4);
  --ds-body-sm-font-size: var(--ds-font-size-3);
  --ds-body-xs-font-size: var(--ds-font-size-2);
  --ds-body-short-xl-font-size: var(--ds-font-size-6);
  --ds-body-short-lg-font-size: var(--ds-font-size-5);
  --ds-body-short-md-font-size: var(--ds-font-size-4);
  --ds-body-short-sm-font-size: var(--ds-font-size-3);
  --ds-body-short-xs-font-size: var(--ds-font-size-2);
  --ds-body-long-xl-font-size: var(--ds-font-size-6);
  --ds-body-long-lg-font-size: var(--ds-font-size-5);
  --ds-body-long-md-font-size: var(--ds-font-size-4);
  --ds-body-long-sm-font-size: var(--ds-font-size-3);
  --ds-body-long-xs-font-size: var(--ds-font-size-2);

  @supports (width: round(down, .1em, 1px)) {
    --ds-font-size-1: round(calc(0.75rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-2: round(calc(0.875rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-3: round(calc(1rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-4: round(calc(1.125rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-5: round(calc(1.3125rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-6: round(calc(1.5rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-7: round(calc(1.875rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-8: round(calc(2.25rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-9: round(calc(3rem * var(--_ds-font-size-factor)), 1px);
    --ds-font-size-10: round(calc(3.75rem * var(--_ds-font-size-factor)), 1px);
  }
}
}
@layer ds.theme.color-scheme.light {
:root, [data-color-scheme="light"] {
  --ds-color-accent-background-default: #FFFFFF;
  --ds-color-accent-background-tinted: #D6F1EE;
  --ds-color-accent-surface-default: #FFFFFF;
  --ds-color-accent-surface-tinted: #CFF3EF;
  --ds-color-accent-surface-hover: #3C9D92;
  --ds-color-accent-surface-active: #3C9D92;
  --ds-color-accent-border-subtle: #9DCEC9;
  --ds-color-accent-border-default: #6DB5AD;
  --ds-color-accent-border-strong: #0B8477;
  --ds-color-accent-text-subtle: #085C53;
  --ds-color-accent-text-default: #064640;
  --ds-color-accent-base-default: #0B8477;
  --ds-color-accent-base-hover: #085C53;
  --ds-color-accent-base-active: #064A43;
  --ds-color-accent-base-contrast-subtle: #FCFDFD;
  --ds-color-accent-base-contrast-default: #FFFFFF;
  --ds-color-reverse-background-default: #032824;
  --ds-color-reverse-background-tinted: #06423C;
  --ds-color-reverse-surface-default: #074F47;
  --ds-color-reverse-surface-tinted: #085C53;
  --ds-color-reverse-surface-hover: #0A776B;
  --ds-color-reverse-surface-active: #0A776B;
  --ds-color-reverse-border-subtle: #096A5F;
  --ds-color-reverse-border-default: #347B74;
  --ds-color-reverse-border-strong: #3C9D92;
  --ds-color-reverse-text-subtle: #E7F3F1;
  --ds-color-reverse-text-default: #F8F8F8;
  --ds-color-reverse-base-default: #0B8477;
  --ds-color-reverse-base-hover: #085C53;
  --ds-color-reverse-base-active: #064A43;
  --ds-color-reverse-base-contrast-subtle: #000202;
  --ds-color-reverse-base-contrast-default: #080808;
  --ds-color-neutral-background-default: #FFFFFF;
  --ds-color-neutral-background-tinted: #ECECEC;
  --ds-color-neutral-surface-default: #FFFFFF;
  --ds-color-neutral-surface-tinted: #F9F9F9;
  --ds-color-neutral-surface-hover: #CBCBCB;
  --ds-color-neutral-surface-active: #CBCBCB;
  --ds-color-neutral-border-subtle: #DDDDDD;
  --ds-color-neutral-border-default: #B6B4B4;
  --ds-color-neutral-border-strong: #535353;
  --ds-color-neutral-text-subtle: #4C4C4C;
  --ds-color-neutral-text-default: #080808;
  --ds-color-neutral-base-default: #535353;
  --ds-color-neutral-base-hover: #404040;
  --ds-color-neutral-base-active: #404040;
  --ds-color-neutral-base-contrast-subtle: #F1F1F1;
  --ds-color-neutral-base-contrast-default: #FFFFFF;
  --ds-color-blaa-background-default: #B1CDE8;
  --ds-color-blaa-background-tinted: #D5E6F6;
  --ds-color-blaa-surface-default: #FFFFFF;
  --ds-color-blaa-surface-tinted: #C8DCEF;
  --ds-color-blaa-surface-hover: #81AFD9;
  --ds-color-blaa-surface-active: #81AFD9;
  --ds-color-blaa-border-subtle: #C0D7EC;
  --ds-color-blaa-border-default: #81AFD9;
  --ds-color-blaa-border-strong: #6184A3;
  --ds-color-blaa-text-subtle: #1D2831;
  --ds-color-blaa-text-default: #0A0D10;
  --ds-color-blaa-base-default: #81AFD9;
  --ds-color-blaa-base-hover: #7199BE;
  --ds-color-blaa-base-active: #7199BE;
  --ds-color-blaa-base-contrast-subtle: #151C23;
  --ds-color-blaa-base-contrast-default: #080808;
  --ds-color-gul-background-default: #FFE9B4;
  --ds-color-gul-background-tinted: #FFEEC5;
  --ds-color-gul-surface-default: #FFFFFF;
  --ds-color-gul-surface-tinted: #FFE9B4;
  --ds-color-gul-surface-hover: #FFD366;
  --ds-color-gul-surface-active: #FFD366;
  --ds-color-gul-border-subtle: #FFD15E;
  --ds-color-gul-border-default: #FFD000;
  --ds-color-gul-border-strong: #F5AF01;
  --ds-color-gul-text-subtle: #3A362E;
  --ds-color-gul-text-default: #19150A;
  --ds-color-gul-base-default: #FFD366;
  --ds-color-gul-base-hover: #FFBF1F;
  --ds-color-gul-base-active: #FFBF1F;
  --ds-color-gul-base-contrast-subtle: #493D1D;
  --ds-color-gul-base-contrast-default: #080808;
  --ds-color-korall-background-default: #FFD0C8;
  --ds-color-korall-background-tinted: #FFE6E2;
  --ds-color-korall-surface-default: #FFFFFF;
  --ds-color-korall-surface-tinted: #FFE0DA;
  --ds-color-korall-surface-hover: #FCAAA0;
  --ds-color-korall-surface-active: #FCAAA0;
  --ds-color-korall-border-subtle: #FFD0C8;
  --ds-color-korall-border-default: #FCAAA0;
  --ds-color-korall-border-strong: #F26561;
  --ds-color-korall-text-subtle: #382C2C;
  --ds-color-korall-text-default: #080808;
  --ds-color-korall-base-default: #F26561;
  --ds-color-korall-base-hover: #F58986;
  --ds-color-korall-base-active: #F58986;
  --ds-color-korall-base-contrast-subtle: #401313;
  --ds-color-korall-base-contrast-default: #080808;
  --ds-color-info-background-default: #1F7DC5;
  --ds-color-info-background-tinted: #edf5fa;
  --ds-color-info-surface-default: #ffffff;
  --ds-color-info-surface-tinted: #dcebf6;
  --ds-color-info-surface-hover: #c5ddf0;
  --ds-color-info-surface-active: #abcfe9;
  --ds-color-info-border-subtle: #94c1e3;
  --ds-color-info-border-default: #1f7dc5;
  --ds-color-info-border-strong: #0860a3;
  --ds-color-info-text-subtle: #0860a3;
  --ds-color-info-text-default: #042d4d;
  --ds-color-info-base-default: #0A71C0;
  --ds-color-info-base-hover: #085d9f;
  --ds-color-info-base-active: #074a7e;
  --ds-color-info-base-contrast-subtle: #FCFDFD;
  --ds-color-info-base-contrast-default: #ffffff;
  --ds-color-success-background-default: #108C22;
  --ds-color-success-background-tinted: #D5F4DA;
  --ds-color-success-surface-default: #ffffff;
  --ds-color-success-surface-tinted: #D7F8DC;
  --ds-color-success-surface-hover: #c3e2c7;
  --ds-color-success-surface-active: #a8d5ae;
  --ds-color-success-border-subtle: #8fc997;
  --ds-color-success-border-default: #108c22;
  --ds-color-success-border-strong: #056d13;
  --ds-color-success-text-subtle: #056d13;
  --ds-color-success-text-default: #023409;
  --ds-color-success-base-default: #068718;
  --ds-color-success-base-hover: #057014;
  --ds-color-success-base-active: #045a10;
  --ds-color-success-base-contrast-subtle: #fafdfb;
  --ds-color-success-base-contrast-default: #ffffff;
  --ds-color-warning-background-default: #F0C507;
  --ds-color-warning-background-tinted: #FFF5B5;
  --ds-color-warning-surface-default: #ffffff;
  --ds-color-warning-surface-tinted: #FFF4CA;
  --ds-color-warning-surface-hover: #FFE88A;
  --ds-color-warning-surface-active: #FFE169;
  --ds-color-warning-border-subtle: #FFE88A;
  --ds-color-warning-border-default: #F0C507;
  --ds-color-warning-border-strong: #E9B611;
  --ds-color-warning-text-subtle: #E9B611;
  --ds-color-warning-text-default: #080808;
  --ds-color-warning-base-default: #FFCC00;
  --ds-color-warning-base-hover: #D1A700;
  --ds-color-warning-base-active: #EBBC00;
  --ds-color-warning-base-contrast-subtle: #271A04;
  --ds-color-warning-base-contrast-default: #000000;
  --ds-color-danger-background-default: #BA160F;
  --ds-color-danger-background-tinted: #fcf1f0;
  --ds-color-danger-surface-default: #ffffff;
  --ds-color-danger-surface-tinted: #fae3e2;
  --ds-color-danger-surface-hover: #f7d1d0;
  --ds-color-danger-surface-active: #f3bdbb;
  --ds-color-danger-border-subtle: #efaaa7;
  --ds-color-danger-border-default: #dc3f38;
  --ds-color-danger-border-strong: #ba160f;
  --ds-color-danger-text-subtle: #ba160f;
  --ds-color-danger-text-default: #5b0b07;
  --ds-color-danger-base-default: #D51911;
  --ds-color-danger-base-hover: #b0150e;
  --ds-color-danger-base-active: #8c100b;
  --ds-color-danger-base-contrast-subtle: #fcefef;
  --ds-color-danger-base-contrast-default: #ffffff;
  --ds-color-focus-inner: #ffffff;
  --ds-color-focus-outer: #2b2b2b;
  --ds-link-color-visited: #663299;

  color-scheme: light;
}
 
@media (prefers-color-scheme: light) {
  [data-color-scheme="auto"] {
  --ds-color-accent-background-default: #FFFFFF;
  --ds-color-accent-background-tinted: #D6F1EE;
  --ds-color-accent-surface-default: #FFFFFF;
  --ds-color-accent-surface-tinted: #CFF3EF;
  --ds-color-accent-surface-hover: #3C9D92;
  --ds-color-accent-surface-active: #3C9D92;
  --ds-color-accent-border-subtle: #9DCEC9;
  --ds-color-accent-border-default: #6DB5AD;
  --ds-color-accent-border-strong: #0B8477;
  --ds-color-accent-text-subtle: #085C53;
  --ds-color-accent-text-default: #064640;
  --ds-color-accent-base-default: #0B8477;
  --ds-color-accent-base-hover: #085C53;
  --ds-color-accent-base-active: #064A43;
  --ds-color-accent-base-contrast-subtle: #FCFDFD;
  --ds-color-accent-base-contrast-default: #FFFFFF;
  --ds-color-reverse-background-default: #032824;
  --ds-color-reverse-background-tinted: #06423C;
  --ds-color-reverse-surface-default: #074F47;
  --ds-color-reverse-surface-tinted: #085C53;
  --ds-color-reverse-surface-hover: #0A776B;
  --ds-color-reverse-surface-active: #0A776B;
  --ds-color-reverse-border-subtle: #096A5F;
  --ds-color-reverse-border-default: #347B74;
  --ds-color-reverse-border-strong: #3C9D92;
  --ds-color-reverse-text-subtle: #E7F3F1;
  --ds-color-reverse-text-default: #F8F8F8;
  --ds-color-reverse-base-default: #0B8477;
  --ds-color-reverse-base-hover: #085C53;
  --ds-color-reverse-base-active: #064A43;
  --ds-color-reverse-base-contrast-subtle: #000202;
  --ds-color-reverse-base-contrast-default: #080808;
  --ds-color-neutral-background-default: #FFFFFF;
  --ds-color-neutral-background-tinted: #ECECEC;
  --ds-color-neutral-surface-default: #FFFFFF;
  --ds-color-neutral-surface-tinted: #F9F9F9;
  --ds-color-neutral-surface-hover: #CBCBCB;
  --ds-color-neutral-surface-active: #CBCBCB;
  --ds-color-neutral-border-subtle: #DDDDDD;
  --ds-color-neutral-border-default: #B6B4B4;
  --ds-color-neutral-border-strong: #535353;
  --ds-color-neutral-text-subtle: #4C4C4C;
  --ds-color-neutral-text-default: #080808;
  --ds-color-neutral-base-default: #535353;
  --ds-color-neutral-base-hover: #404040;
  --ds-color-neutral-base-active: #404040;
  --ds-color-neutral-base-contrast-subtle: #F1F1F1;
  --ds-color-neutral-base-contrast-default: #FFFFFF;
  --ds-color-blaa-background-default: #B1CDE8;
  --ds-color-blaa-background-tinted: #D5E6F6;
  --ds-color-blaa-surface-default: #FFFFFF;
  --ds-color-blaa-surface-tinted: #C8DCEF;
  --ds-color-blaa-surface-hover: #81AFD9;
  --ds-color-blaa-surface-active: #81AFD9;
  --ds-color-blaa-border-subtle: #C0D7EC;
  --ds-color-blaa-border-default: #81AFD9;
  --ds-color-blaa-border-strong: #6184A3;
  --ds-color-blaa-text-subtle: #1D2831;
  --ds-color-blaa-text-default: #0A0D10;
  --ds-color-blaa-base-default: #81AFD9;
  --ds-color-blaa-base-hover: #7199BE;
  --ds-color-blaa-base-active: #7199BE;
  --ds-color-blaa-base-contrast-subtle: #151C23;
  --ds-color-blaa-base-contrast-default: #080808;
  --ds-color-gul-background-default: #FFE9B4;
  --ds-color-gul-background-tinted: #FFEEC5;
  --ds-color-gul-surface-default: #FFFFFF;
  --ds-color-gul-surface-tinted: #FFE9B4;
  --ds-color-gul-surface-hover: #FFD366;
  --ds-color-gul-surface-active: #FFD366;
  --ds-color-gul-border-subtle: #FFD15E;
  --ds-color-gul-border-default: #FFD000;
  --ds-color-gul-border-strong: #F5AF01;
  --ds-color-gul-text-subtle: #3A362E;
  --ds-color-gul-text-default: #19150A;
  --ds-color-gul-base-default: #FFD366;
  --ds-color-gul-base-hover: #FFBF1F;
  --ds-color-gul-base-active: #FFBF1F;
  --ds-color-gul-base-contrast-subtle: #493D1D;
  --ds-color-gul-base-contrast-default: #080808;
  --ds-color-korall-background-default: #FFD0C8;
  --ds-color-korall-background-tinted: #FFE6E2;
  --ds-color-korall-surface-default: #FFFFFF;
  --ds-color-korall-surface-tinted: #FFE0DA;
  --ds-color-korall-surface-hover: #FCAAA0;
  --ds-color-korall-surface-active: #FCAAA0;
  --ds-color-korall-border-subtle: #FFD0C8;
  --ds-color-korall-border-default: #FCAAA0;
  --ds-color-korall-border-strong: #F26561;
  --ds-color-korall-text-subtle: #382C2C;
  --ds-color-korall-text-default: #080808;
  --ds-color-korall-base-default: #F26561;
  --ds-color-korall-base-hover: #F58986;
  --ds-color-korall-base-active: #F58986;
  --ds-color-korall-base-contrast-subtle: #401313;
  --ds-color-korall-base-contrast-default: #080808;
  --ds-color-info-background-default: #1F7DC5;
  --ds-color-info-background-tinted: #edf5fa;
  --ds-color-info-surface-default: #ffffff;
  --ds-color-info-surface-tinted: #dcebf6;
  --ds-color-info-surface-hover: #c5ddf0;
  --ds-color-info-surface-active: #abcfe9;
  --ds-color-info-border-subtle: #94c1e3;
  --ds-color-info-border-default: #1f7dc5;
  --ds-color-info-border-strong: #0860a3;
  --ds-color-info-text-subtle: #0860a3;
  --ds-color-info-text-default: #042d4d;
  --ds-color-info-base-default: #0A71C0;
  --ds-color-info-base-hover: #085d9f;
  --ds-color-info-base-active: #074a7e;
  --ds-color-info-base-contrast-subtle: #FCFDFD;
  --ds-color-info-base-contrast-default: #ffffff;
  --ds-color-success-background-default: #108C22;
  --ds-color-success-background-tinted: #D5F4DA;
  --ds-color-success-surface-default: #ffffff;
  --ds-color-success-surface-tinted: #D7F8DC;
  --ds-color-success-surface-hover: #c3e2c7;
  --ds-color-success-surface-active: #a8d5ae;
  --ds-color-success-border-subtle: #8fc997;
  --ds-color-success-border-default: #108c22;
  --ds-color-success-border-strong: #056d13;
  --ds-color-success-text-subtle: #056d13;
  --ds-color-success-text-default: #023409;
  --ds-color-success-base-default: #068718;
  --ds-color-success-base-hover: #057014;
  --ds-color-success-base-active: #045a10;
  --ds-color-success-base-contrast-subtle: #fafdfb;
  --ds-color-success-base-contrast-default: #ffffff;
  --ds-color-warning-background-default: #F0C507;
  --ds-color-warning-background-tinted: #FFF5B5;
  --ds-color-warning-surface-default: #ffffff;
  --ds-color-warning-surface-tinted: #FFF4CA;
  --ds-color-warning-surface-hover: #FFE88A;
  --ds-color-warning-surface-active: #FFE169;
  --ds-color-warning-border-subtle: #FFE88A;
  --ds-color-warning-border-default: #F0C507;
  --ds-color-warning-border-strong: #E9B611;
  --ds-color-warning-text-subtle: #E9B611;
  --ds-color-warning-text-default: #080808;
  --ds-color-warning-base-default: #FFCC00;
  --ds-color-warning-base-hover: #D1A700;
  --ds-color-warning-base-active: #EBBC00;
  --ds-color-warning-base-contrast-subtle: #271A04;
  --ds-color-warning-base-contrast-default: #000000;
  --ds-color-danger-background-default: #BA160F;
  --ds-color-danger-background-tinted: #fcf1f0;
  --ds-color-danger-surface-default: #ffffff;
  --ds-color-danger-surface-tinted: #fae3e2;
  --ds-color-danger-surface-hover: #f7d1d0;
  --ds-color-danger-surface-active: #f3bdbb;
  --ds-color-danger-border-subtle: #efaaa7;
  --ds-color-danger-border-default: #dc3f38;
  --ds-color-danger-border-strong: #ba160f;
  --ds-color-danger-text-subtle: #ba160f;
  --ds-color-danger-text-default: #5b0b07;
  --ds-color-danger-base-default: #D51911;
  --ds-color-danger-base-hover: #b0150e;
  --ds-color-danger-base-active: #8c100b;
  --ds-color-danger-base-contrast-subtle: #fcefef;
  --ds-color-danger-base-contrast-default: #ffffff;
  --ds-color-focus-inner: #ffffff;
  --ds-color-focus-outer: #2b2b2b;
  --ds-link-color-visited: #663299;

  color-scheme: light;
}

}

}

@layer ds.theme.typography.secondary {
[data-typography="secondary"] {
  --ds-line-height-sm: 1.3;
  --ds-line-height-md: 1.5;
  --ds-line-height-lg: 1.7;
  --ds-letter-spacing-1: -0.01em;
  --ds-letter-spacing-2: -0.005em;
  --ds-letter-spacing-3: -0.0025em;
  --ds-letter-spacing-4: -0.0015em;
  --ds-letter-spacing-5: 0em;
  --ds-letter-spacing-6: 0.0015em;
  --ds-letter-spacing-7: 0.0025em;
  --ds-letter-spacing-8: 0.005em;
  --ds-letter-spacing-9: 0.015em;
  --ds-font-family: Inter;
  --ds-font-weight-medium: 500;
  --ds-font-weight-semibold: 600;
  --ds-font-weight-regular: 400;
  --ds-heading-2xl-font-weight: 500;
  --ds-heading-2xl-line-height: 1.3;
  --ds-heading-2xl-letter-spacing: -0.01em;
  --ds-heading-xl-font-weight: 500;
  --ds-heading-xl-line-height: 1.3;
  --ds-heading-xl-letter-spacing: -0.01em;
  --ds-heading-lg-font-weight: 500;
  --ds-heading-lg-line-height: 1.3;
  --ds-heading-lg-letter-spacing: -0.005em;
  --ds-heading-md-font-weight: 500;
  --ds-heading-md-line-height: 1.3;
  --ds-heading-md-letter-spacing: -0.0025em;
  --ds-heading-sm-font-weight: 500;
  --ds-heading-sm-line-height: 1.3;
  --ds-heading-sm-letter-spacing: 0em;
  --ds-heading-xs-font-weight: 500;
  --ds-heading-xs-line-height: 1.3;
  --ds-heading-xs-letter-spacing: 0.0015em;
  --ds-heading-2xs-font-weight: 500;
  --ds-heading-2xs-line-height: 1.3;
  --ds-heading-2xs-letter-spacing: 0.0015em;
  --ds-body-xl-font-weight: 400;
  --ds-body-xl-line-height: 1.5;
  --ds-body-xl-letter-spacing: 0.005em;
  --ds-body-lg-font-weight: 400;
  --ds-body-lg-line-height: 1.5;
  --ds-body-lg-letter-spacing: 0.005em;
  --ds-body-md-font-weight: 400;
  --ds-body-md-line-height: 1.5;
  --ds-body-md-letter-spacing: 0.005em;
  --ds-body-sm-font-weight: 400;
  --ds-body-sm-line-height: 1.5;
  --ds-body-sm-letter-spacing: 0.0025em;
  --ds-body-xs-font-weight: 400;
  --ds-body-xs-line-height: 1.5;
  --ds-body-xs-letter-spacing: 0.0015em;
  --ds-body-short-xl-font-weight: 400;
  --ds-body-short-xl-line-height: 1.3;
  --ds-body-short-xl-letter-spacing: 0.005em;
  --ds-body-short-lg-font-weight: 400;
  --ds-body-short-lg-line-height: 1.3;
  --ds-body-short-lg-letter-spacing: 0.005em;
  --ds-body-short-md-font-weight: 400;
  --ds-body-short-md-line-height: 1.3;
  --ds-body-short-md-letter-spacing: 0.005em;
  --ds-body-short-sm-font-weight: 400;
  --ds-body-short-sm-line-height: 1.3;
  --ds-body-short-sm-letter-spacing: 0.0025em;
  --ds-body-short-xs-font-weight: 400;
  --ds-body-short-xs-line-height: 1.3;
  --ds-body-short-xs-letter-spacing: 0.0015em;
  --ds-body-long-xl-font-weight: 400;
  --ds-body-long-xl-line-height: 1.7;
  --ds-body-long-xl-letter-spacing: 0.005em;
  --ds-body-long-lg-font-weight: 400;
  --ds-body-long-lg-line-height: 1.7;
  --ds-body-long-lg-letter-spacing: 0.005em;
  --ds-body-long-md-font-weight: 400;
  --ds-body-long-md-line-height: 1.7;
  --ds-body-long-md-letter-spacing: 0.005em;
  --ds-body-long-sm-font-weight: 400;
  --ds-body-long-sm-line-height: 1.7;
  --ds-body-long-sm-letter-spacing: 0.0025em;
  --ds-body-long-xs-font-weight: 400;
  --ds-body-long-xs-line-height: 1.7;
  --ds-body-long-xs-letter-spacing: 0.0015em;
}
}
@layer ds.theme.size {
:root, [data-size] {
  --ds-size-base: 18;
  --ds-size-step: 4;

  --ds-size-0: calc(var(--ds-size-unit) * 0);
  --ds-size-1: calc(var(--ds-size-unit) * 1);
  --ds-size-2: calc(var(--ds-size-unit) * 2);
  --ds-size-3: calc(var(--ds-size-unit) * 3);
  --ds-size-4: calc(var(--ds-size-unit) * 4);
  --ds-size-5: calc(var(--ds-size-unit) * 5);
  --ds-size-6: calc(var(--ds-size-unit) * 6);
  --ds-size-7: calc(var(--ds-size-unit) * 7);
  --ds-size-8: calc(var(--ds-size-unit) * 8);
  --ds-size-9: calc(var(--ds-size-unit) * 9);
  --ds-size-10: calc(var(--ds-size-unit) * 10);
  --ds-size-11: calc(var(--ds-size-unit) * 11);
  --ds-size-12: calc(var(--ds-size-unit) * 12);
  --ds-size-13: calc(var(--ds-size-unit) * 13);
  --ds-size-14: calc(var(--ds-size-unit) * 14);
  --ds-size-15: calc(var(--ds-size-unit) * 15);
  --ds-size-18: calc(var(--ds-size-unit) * 18);
  --ds-size-22: calc(var(--ds-size-unit) * 22);
  --ds-size-26: calc(var(--ds-size-unit) * 26);
  --ds-size-30: calc(var(--ds-size-unit) * 30);
  --ds-size-unit: calc(1rem * var(--ds-size-step) / var(--ds-size-base) * var(--ds-size-mode-font-size));

  @supports (width: round(down, .1em, 1px)) {
    --ds-size-0: round(down, calc(var(--ds-size-unit) * 0), 1px);
    --ds-size-1: round(down, calc(var(--ds-size-unit) * 1), 1px);
    --ds-size-2: round(down, calc(var(--ds-size-unit) * 2), 1px);
    --ds-size-3: round(down, calc(var(--ds-size-unit) * 3), 1px);
    --ds-size-4: round(down, calc(var(--ds-size-unit) * 4), 1px);
    --ds-size-5: round(down, calc(var(--ds-size-unit) * 5), 1px);
    --ds-size-6: round(down, calc(var(--ds-size-unit) * 6), 1px);
    --ds-size-7: round(down, calc(var(--ds-size-unit) * 7), 1px);
    --ds-size-8: round(down, calc(var(--ds-size-unit) * 8), 1px);
    --ds-size-9: round(down, calc(var(--ds-size-unit) * 9), 1px);
    --ds-size-10: round(down, calc(var(--ds-size-unit) * 10), 1px);
    --ds-size-11: round(down, calc(var(--ds-size-unit) * 11), 1px);
    --ds-size-12: round(down, calc(var(--ds-size-unit) * 12), 1px);
    --ds-size-13: round(down, calc(var(--ds-size-unit) * 13), 1px);
    --ds-size-14: round(down, calc(var(--ds-size-unit) * 14), 1px);
    --ds-size-15: round(down, calc(var(--ds-size-unit) * 15), 1px);
    --ds-size-18: round(down, calc(var(--ds-size-unit) * 18), 1px);
    --ds-size-22: round(down, calc(var(--ds-size-unit) * 22), 1px);
    --ds-size-26: round(down, calc(var(--ds-size-unit) * 26), 1px);
    --ds-size-30: round(down, calc(var(--ds-size-unit) * 30), 1px);
  }
}

}

@layer ds.theme.semantic {
:root {
  --ds-border-radius-base: 0.25rem;
  --ds-border-radius-scale: 0.25rem;
  --ds-border-radius-sm: min(var(--ds-border-radius-base)*0.5,var(--ds-border-radius-scale));
  --ds-border-radius-md: min(var(--ds-border-radius-base),var(--ds-border-radius-scale)*2);
  --ds-border-radius-lg: min(var(--ds-border-radius-base)*2,var(--ds-border-radius-scale)*5);
  --ds-border-radius-xl: min(var(--ds-border-radius-base)*3,var(--ds-border-radius-scale)*7);
  --ds-border-radius-default: var(--ds-border-radius-base);
  --ds-border-radius-full: 624.9375rem;
  --ds-border-width-default: 1px;
  --ds-border-width-focus: 3px;
  --ds-shadow-xs: 0 0 1px 0 rgba(0,0,0,0.16), 0 1px 2px 0 rgba(0,0,0,0.12);
  --ds-shadow-sm: 0 0 1px 0 rgba(0,0,0,0.15), 0 1px 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.1);
  --ds-shadow-md: 0 0 1px 0 rgba(0,0,0,0.14), 0 2px 4px 0 rgba(0,0,0,0.12), 0 4px 8px 0 rgba(0,0,0,0.12);
  --ds-shadow-lg: 0 0 1px 0 rgba(0,0,0,0.13), 0 3px 5px 0 rgba(0,0,0,0.13), 0 6px 12px 0 rgba(0,0,0,0.14);
  --ds-shadow-xl: 0 0 1px 0 rgba(0,0,0,0.12), 0 4px 8px 0 rgba(0,0,0,0.16), 0 12px 24px 0 rgba(0,0,0,0.16);
  --ds-opacity-disabled: 30%;
}

}

@layer ds.theme.color-scheme.dark {
[data-color-scheme="dark"] {
  --ds-color-accent-background-default: #060C0B;
  --ds-color-accent-background-tinted: #17201E;
  --ds-color-accent-surface-default: #373737;
  --ds-color-accent-surface-tinted: #19322E;
  --ds-color-accent-surface-hover: #254943;
  --ds-color-accent-surface-active: #254943;
  --ds-color-accent-border-subtle: #2C5750;
  --ds-color-accent-border-default: #528B82;
  --ds-color-accent-border-strong: #88B0A9;
  --ds-color-accent-text-subtle: #C3E1DE;
  --ds-color-accent-text-default: #E6EEED;
  --ds-color-accent-base-default: #0B8477;
  --ds-color-accent-base-hover: #3A9C91;
  --ds-color-accent-base-active: #61AFA7;
  --ds-color-accent-base-contrast-subtle: #000202;
  --ds-color-accent-base-contrast-default: #080808;
  --ds-color-reverse-background-default: #1C3532;
  --ds-color-reverse-background-tinted: #112320;
  --ds-color-reverse-surface-default: #085E56;
  --ds-color-reverse-surface-tinted: #09655D;
  --ds-color-reverse-surface-hover: #0A6C63;
  --ds-color-reverse-surface-active: #0B7A6F;
  --ds-color-reverse-border-subtle: #2C5750;
  --ds-color-reverse-border-default: #12877B;
  --ds-color-reverse-border-strong: #91C7C2;
  --ds-color-reverse-text-subtle: #C3E1DE;
  --ds-color-reverse-text-default: #D3E9E7;
  --ds-color-reverse-base-default: #91C7C2;
  --ds-color-reverse-base-hover: #B2D8D5;
  --ds-color-reverse-base-active: #BDDEDB;
  --ds-color-reverse-base-contrast-subtle: #000202;
  --ds-color-reverse-base-contrast-default: #080808;
  --ds-color-neutral-background-default: #181818;
  --ds-color-neutral-background-tinted: #1F1F1F;
  --ds-color-neutral-surface-default: #282828;
  --ds-color-neutral-surface-tinted: #2E2E2E;
  --ds-color-neutral-surface-hover: #353535;
  --ds-color-neutral-surface-active: #434343;
  --ds-color-neutral-border-subtle: #505050;
  --ds-color-neutral-border-default: #818181;
  --ds-color-neutral-border-strong: #A8A8A8;
  --ds-color-neutral-text-subtle: #A8A8A8;
  --ds-color-neutral-text-default: #ECECEC;
  --ds-color-neutral-base-default: #9D9D9D;
  --ds-color-neutral-base-hover: #B2B2B2;
  --ds-color-neutral-base-active: #C8C8C8;
  --ds-color-neutral-base-contrast-subtle: #101010;
  --ds-color-neutral-base-contrast-default: #080808;
  --ds-color-blaa-background-default: #14181C;
  --ds-color-blaa-background-tinted: #1A2025;
  --ds-color-blaa-surface-default: #21292F;
  --ds-color-blaa-surface-tinted: #262F37;
  --ds-color-blaa-surface-hover: #384450;
  --ds-color-blaa-surface-active: #384450;
  --ds-color-blaa-border-subtle: #43525F;
  --ds-color-blaa-border-default: #6C849A;
  --ds-color-blaa-border-strong: #8CABC8;
  --ds-color-blaa-text-subtle: #8CABC8;
  --ds-color-blaa-text-default: #E6EDF4;
  --ds-color-blaa-base-default: #36495B;
  --ds-color-blaa-base-hover: #283744;
  --ds-color-blaa-base-active: #283744;
  --ds-color-blaa-base-contrast-subtle: #E1E3E6;
  --ds-color-blaa-base-contrast-default: #FFFFFF;
  --ds-color-gul-background-default: #1B1810;
  --ds-color-gul-background-tinted: #231F15;
  --ds-color-gul-surface-default: #2D271A;
  --ds-color-gul-surface-tinted: #332D1E;
  --ds-color-gul-surface-hover: #4B422C;
  --ds-color-gul-surface-active: #4B422C;
  --ds-color-gul-border-subtle: #5A4F35;
  --ds-color-gul-border-default: #917F55;
  --ds-color-gul-border-strong: #BDA56F;
  --ds-color-gul-text-subtle: #BDA56F;
  --ds-color-gul-text-default: #FAEBC9;
  --ds-color-gul-base-default: #292211;
  --ds-color-gul-base-hover: #3D3319;
  --ds-color-gul-base-active: #3D3319;
  --ds-color-gul-base-contrast-subtle: #B7B5AF;
  --ds-color-gul-base-contrast-default: #FFFFFF;
  --ds-color-korall-background-default: #241413;
  --ds-color-korall-background-tinted: #2F1A19;
  --ds-color-korall-surface-default: #3B211F;
  --ds-color-korall-surface-tinted: #442524;
  --ds-color-korall-surface-hover: #633734;
  --ds-color-korall-surface-active: #633734;
  --ds-color-korall-border-subtle: #76413E;
  --ds-color-korall-border-default: #BE6964;
  --ds-color-korall-border-strong: #E2938E;
  --ds-color-korall-text-subtle: #E2938E;
  --ds-color-korall-text-default: #F9E9E8;
  --ds-color-korall-base-default: #99403D;
  --ds-color-korall-base-hover: #793331;
  --ds-color-korall-base-active: #793331;
  --ds-color-korall-base-contrast-subtle: #FEFDFD;
  --ds-color-korall-base-contrast-default: #FFFFFF;
  --ds-color-info-background-default: #0d1925;
  --ds-color-info-background-tinted: #112130;
  --ds-color-info-surface-default: #15293d;
  --ds-color-info-surface-tinted: #182f46;
  --ds-color-info-surface-hover: #1c3751;
  --ds-color-info-surface-active: #234566;
  --ds-color-info-border-subtle: #2a537a;
  --ds-color-info-border-default: #5585b4;
  --ds-color-info-border-strong: #8aabcb;
  --ds-color-info-text-subtle: #8aabcb;
  --ds-color-info-text-default: #e6edf4;
  --ds-color-info-base-default: #2d85c9;
  --ds-color-info-base-hover: #519ad2;
  --ds-color-info-base-active: #77b0dc;
  --ds-color-info-base-contrast-subtle: #050e15;
  --ds-color-info-base-contrast-default: #080808;
  --ds-color-success-background-default: #0d1b0d;
  --ds-color-success-background-tinted: #112411;
  --ds-color-success-surface-default: #152d15;
  --ds-color-success-surface-tinted: #183418;
  --ds-color-success-surface-hover: #1c3c1c;
  --ds-color-success-surface-active: #244c24;
  --ds-color-success-border-subtle: #2b5a2b;
  --ds-color-success-border-default: #528f52;
  --ds-color-success-border-strong: #89b289;
  --ds-color-success-text-subtle: #89b289;
  --ds-color-success-text-default: #e6efe6;
  --ds-color-success-base-default: #138d24;
  --ds-color-success-base-hover: #3ca14b;
  --ds-color-success-base-active: #66b571;
  --ds-color-success-base-contrast-subtle: #010501;
  --ds-color-success-base-contrast-default: #080808;
  --ds-color-warning-background-default: #1E160D;
  --ds-color-warning-background-tinted: #281E11;
  --ds-color-warning-surface-default: #322616;
  --ds-color-warning-surface-tinted: #3A2B19;
  --ds-color-warning-surface-hover: #43321D;
  --ds-color-warning-surface-active: #543F24;
  --ds-color-warning-border-subtle: #654B2B;
  --ds-color-warning-border-default: #A37A46;
  --ds-color-warning-border-strong: #D39E5B;
  --ds-color-warning-text-subtle: #D39E5B;
  --ds-color-warning-text-default: #F7EBDB;
  --ds-color-warning-base-default: #60400B;
  --ds-color-warning-base-hover: #7A510E;
  --ds-color-warning-base-active: #946211;
  --ds-color-warning-base-contrast-subtle: #E6E2D9;
  --ds-color-warning-base-contrast-default: #ffffff;
  --ds-color-danger-background-default: #2a100d;
  --ds-color-danger-background-tinted: #371511;
  --ds-color-danger-surface-default: #451b16;
  --ds-color-danger-surface-tinted: #4f1e19;
  --ds-color-danger-surface-hover: #5c231d;
  --ds-color-danger-surface-active: #732c24;
  --ds-color-danger-border-subtle: #89342b;
  --ds-color-danger-border-default: #c6645a;
  --ds-color-danger-border-strong: #d99790;
  --ds-color-danger-text-subtle: #d99790;
  --ds-color-danger-text-default: #f7e9e8;
  --ds-color-danger-base-default: #df524c;
  --ds-color-danger-base-hover: #e67671;
  --ds-color-danger-base-active: #ec9591;
  --ds-color-danger-base-contrast-subtle: #1b0a09;
  --ds-color-danger-base-contrast-default: #080808;
  --ds-color-focus-inner: #181818;
  --ds-color-focus-outer: #ececec;
  --ds-link-color-visited: #b49acd;

  color-scheme: dark;
}
 
@media (prefers-color-scheme: dark) {
  [data-color-scheme="auto"] {
  --ds-color-accent-background-default: #060C0B;
  --ds-color-accent-background-tinted: #17201E;
  --ds-color-accent-surface-default: #373737;
  --ds-color-accent-surface-tinted: #19322E;
  --ds-color-accent-surface-hover: #254943;
  --ds-color-accent-surface-active: #254943;
  --ds-color-accent-border-subtle: #2C5750;
  --ds-color-accent-border-default: #528B82;
  --ds-color-accent-border-strong: #88B0A9;
  --ds-color-accent-text-subtle: #C3E1DE;
  --ds-color-accent-text-default: #E6EEED;
  --ds-color-accent-base-default: #0B8477;
  --ds-color-accent-base-hover: #3A9C91;
  --ds-color-accent-base-active: #61AFA7;
  --ds-color-accent-base-contrast-subtle: #000202;
  --ds-color-accent-base-contrast-default: #080808;
  --ds-color-reverse-background-default: #1C3532;
  --ds-color-reverse-background-tinted: #112320;
  --ds-color-reverse-surface-default: #085E56;
  --ds-color-reverse-surface-tinted: #09655D;
  --ds-color-reverse-surface-hover: #0A6C63;
  --ds-color-reverse-surface-active: #0B7A6F;
  --ds-color-reverse-border-subtle: #2C5750;
  --ds-color-reverse-border-default: #12877B;
  --ds-color-reverse-border-strong: #91C7C2;
  --ds-color-reverse-text-subtle: #C3E1DE;
  --ds-color-reverse-text-default: #D3E9E7;
  --ds-color-reverse-base-default: #91C7C2;
  --ds-color-reverse-base-hover: #B2D8D5;
  --ds-color-reverse-base-active: #BDDEDB;
  --ds-color-reverse-base-contrast-subtle: #000202;
  --ds-color-reverse-base-contrast-default: #080808;
  --ds-color-neutral-background-default: #181818;
  --ds-color-neutral-background-tinted: #1F1F1F;
  --ds-color-neutral-surface-default: #282828;
  --ds-color-neutral-surface-tinted: #2E2E2E;
  --ds-color-neutral-surface-hover: #353535;
  --ds-color-neutral-surface-active: #434343;
  --ds-color-neutral-border-subtle: #505050;
  --ds-color-neutral-border-default: #818181;
  --ds-color-neutral-border-strong: #A8A8A8;
  --ds-color-neutral-text-subtle: #A8A8A8;
  --ds-color-neutral-text-default: #ECECEC;
  --ds-color-neutral-base-default: #9D9D9D;
  --ds-color-neutral-base-hover: #B2B2B2;
  --ds-color-neutral-base-active: #C8C8C8;
  --ds-color-neutral-base-contrast-subtle: #101010;
  --ds-color-neutral-base-contrast-default: #080808;
  --ds-color-blaa-background-default: #14181C;
  --ds-color-blaa-background-tinted: #1A2025;
  --ds-color-blaa-surface-default: #21292F;
  --ds-color-blaa-surface-tinted: #262F37;
  --ds-color-blaa-surface-hover: #384450;
  --ds-color-blaa-surface-active: #384450;
  --ds-color-blaa-border-subtle: #43525F;
  --ds-color-blaa-border-default: #6C849A;
  --ds-color-blaa-border-strong: #8CABC8;
  --ds-color-blaa-text-subtle: #8CABC8;
  --ds-color-blaa-text-default: #E6EDF4;
  --ds-color-blaa-base-default: #36495B;
  --ds-color-blaa-base-hover: #283744;
  --ds-color-blaa-base-active: #283744;
  --ds-color-blaa-base-contrast-subtle: #E1E3E6;
  --ds-color-blaa-base-contrast-default: #FFFFFF;
  --ds-color-gul-background-default: #1B1810;
  --ds-color-gul-background-tinted: #231F15;
  --ds-color-gul-surface-default: #2D271A;
  --ds-color-gul-surface-tinted: #332D1E;
  --ds-color-gul-surface-hover: #4B422C;
  --ds-color-gul-surface-active: #4B422C;
  --ds-color-gul-border-subtle: #5A4F35;
  --ds-color-gul-border-default: #917F55;
  --ds-color-gul-border-strong: #BDA56F;
  --ds-color-gul-text-subtle: #BDA56F;
  --ds-color-gul-text-default: #FAEBC9;
  --ds-color-gul-base-default: #292211;
  --ds-color-gul-base-hover: #3D3319;
  --ds-color-gul-base-active: #3D3319;
  --ds-color-gul-base-contrast-subtle: #B7B5AF;
  --ds-color-gul-base-contrast-default: #FFFFFF;
  --ds-color-korall-background-default: #241413;
  --ds-color-korall-background-tinted: #2F1A19;
  --ds-color-korall-surface-default: #3B211F;
  --ds-color-korall-surface-tinted: #442524;
  --ds-color-korall-surface-hover: #633734;
  --ds-color-korall-surface-active: #633734;
  --ds-color-korall-border-subtle: #76413E;
  --ds-color-korall-border-default: #BE6964;
  --ds-color-korall-border-strong: #E2938E;
  --ds-color-korall-text-subtle: #E2938E;
  --ds-color-korall-text-default: #F9E9E8;
  --ds-color-korall-base-default: #99403D;
  --ds-color-korall-base-hover: #793331;
  --ds-color-korall-base-active: #793331;
  --ds-color-korall-base-contrast-subtle: #FEFDFD;
  --ds-color-korall-base-contrast-default: #FFFFFF;
  --ds-color-info-background-default: #0d1925;
  --ds-color-info-background-tinted: #112130;
  --ds-color-info-surface-default: #15293d;
  --ds-color-info-surface-tinted: #182f46;
  --ds-color-info-surface-hover: #1c3751;
  --ds-color-info-surface-active: #234566;
  --ds-color-info-border-subtle: #2a537a;
  --ds-color-info-border-default: #5585b4;
  --ds-color-info-border-strong: #8aabcb;
  --ds-color-info-text-subtle: #8aabcb;
  --ds-color-info-text-default: #e6edf4;
  --ds-color-info-base-default: #2d85c9;
  --ds-color-info-base-hover: #519ad2;
  --ds-color-info-base-active: #77b0dc;
  --ds-color-info-base-contrast-subtle: #050e15;
  --ds-color-info-base-contrast-default: #080808;
  --ds-color-success-background-default: #0d1b0d;
  --ds-color-success-background-tinted: #112411;
  --ds-color-success-surface-default: #152d15;
  --ds-color-success-surface-tinted: #183418;
  --ds-color-success-surface-hover: #1c3c1c;
  --ds-color-success-surface-active: #244c24;
  --ds-color-success-border-subtle: #2b5a2b;
  --ds-color-success-border-default: #528f52;
  --ds-color-success-border-strong: #89b289;
  --ds-color-success-text-subtle: #89b289;
  --ds-color-success-text-default: #e6efe6;
  --ds-color-success-base-default: #138d24;
  --ds-color-success-base-hover: #3ca14b;
  --ds-color-success-base-active: #66b571;
  --ds-color-success-base-contrast-subtle: #010501;
  --ds-color-success-base-contrast-default: #080808;
  --ds-color-warning-background-default: #1E160D;
  --ds-color-warning-background-tinted: #281E11;
  --ds-color-warning-surface-default: #322616;
  --ds-color-warning-surface-tinted: #3A2B19;
  --ds-color-warning-surface-hover: #43321D;
  --ds-color-warning-surface-active: #543F24;
  --ds-color-warning-border-subtle: #654B2B;
  --ds-color-warning-border-default: #A37A46;
  --ds-color-warning-border-strong: #D39E5B;
  --ds-color-warning-text-subtle: #D39E5B;
  --ds-color-warning-text-default: #F7EBDB;
  --ds-color-warning-base-default: #60400B;
  --ds-color-warning-base-hover: #7A510E;
  --ds-color-warning-base-active: #946211;
  --ds-color-warning-base-contrast-subtle: #E6E2D9;
  --ds-color-warning-base-contrast-default: #ffffff;
  --ds-color-danger-background-default: #2a100d;
  --ds-color-danger-background-tinted: #371511;
  --ds-color-danger-surface-default: #451b16;
  --ds-color-danger-surface-tinted: #4f1e19;
  --ds-color-danger-surface-hover: #5c231d;
  --ds-color-danger-surface-active: #732c24;
  --ds-color-danger-border-subtle: #89342b;
  --ds-color-danger-border-default: #c6645a;
  --ds-color-danger-border-strong: #d99790;
  --ds-color-danger-text-subtle: #d99790;
  --ds-color-danger-text-default: #f7e9e8;
  --ds-color-danger-base-default: #df524c;
  --ds-color-danger-base-hover: #e67671;
  --ds-color-danger-base-active: #ec9591;
  --ds-color-danger-base-contrast-subtle: #1b0a09;
  --ds-color-danger-base-contrast-default: #080808;
  --ds-color-focus-inner: #181818;
  --ds-color-focus-outer: #ececec;
  --ds-link-color-visited: #b49acd;

  color-scheme: dark;
}

}

}

@layer ds.theme.typography.primary {
:root, [data-typography="primary"] {
  --ds-line-height-sm: 1.3;
  --ds-line-height-md: 1.5;
  --ds-line-height-lg: 1.7;
  --ds-letter-spacing-1: -0.01em;
  --ds-letter-spacing-2: -0.005em;
  --ds-letter-spacing-3: -0.0025em;
  --ds-letter-spacing-4: -0.0015em;
  --ds-letter-spacing-5: 0em;
  --ds-letter-spacing-6: 0.0015em;
  --ds-letter-spacing-7: 0.0025em;
  --ds-letter-spacing-8: 0.005em;
  --ds-letter-spacing-9: 0.015em;
  --ds-font-family: Inter;
  --ds-font-weight-medium: 500;
  --ds-font-weight-semibold: 600;
  --ds-font-weight-regular: 400;
  --ds-heading-2xl-font-weight: 500;
  --ds-heading-2xl-line-height: 1.3;
  --ds-heading-2xl-letter-spacing: -0.01em;
  --ds-heading-xl-font-weight: 500;
  --ds-heading-xl-line-height: 1.3;
  --ds-heading-xl-letter-spacing: -0.01em;
  --ds-heading-lg-font-weight: 500;
  --ds-heading-lg-line-height: 1.3;
  --ds-heading-lg-letter-spacing: -0.005em;
  --ds-heading-md-font-weight: 500;
  --ds-heading-md-line-height: 1.3;
  --ds-heading-md-letter-spacing: -0.0025em;
  --ds-heading-sm-font-weight: 500;
  --ds-heading-sm-line-height: 1.3;
  --ds-heading-sm-letter-spacing: 0em;
  --ds-heading-xs-font-weight: 500;
  --ds-heading-xs-line-height: 1.3;
  --ds-heading-xs-letter-spacing: 0.0015em;
  --ds-heading-2xs-font-weight: 500;
  --ds-heading-2xs-line-height: 1.3;
  --ds-heading-2xs-letter-spacing: 0.0015em;
  --ds-body-xl-font-weight: 400;
  --ds-body-xl-line-height: 1.5;
  --ds-body-xl-letter-spacing: 0.005em;
  --ds-body-lg-font-weight: 400;
  --ds-body-lg-line-height: 1.5;
  --ds-body-lg-letter-spacing: 0.005em;
  --ds-body-md-font-weight: 400;
  --ds-body-md-line-height: 1.5;
  --ds-body-md-letter-spacing: 0.005em;
  --ds-body-sm-font-weight: 400;
  --ds-body-sm-line-height: 1.5;
  --ds-body-sm-letter-spacing: 0.0025em;
  --ds-body-xs-font-weight: 400;
  --ds-body-xs-line-height: 1.5;
  --ds-body-xs-letter-spacing: 0.0015em;
  --ds-body-short-xl-font-weight: 400;
  --ds-body-short-xl-line-height: 1.3;
  --ds-body-short-xl-letter-spacing: 0.005em;
  --ds-body-short-lg-font-weight: 400;
  --ds-body-short-lg-line-height: 1.3;
  --ds-body-short-lg-letter-spacing: 0.005em;
  --ds-body-short-md-font-weight: 400;
  --ds-body-short-md-line-height: 1.3;
  --ds-body-short-md-letter-spacing: 0.005em;
  --ds-body-short-sm-font-weight: 400;
  --ds-body-short-sm-line-height: 1.3;
  --ds-body-short-sm-letter-spacing: 0.0025em;
  --ds-body-short-xs-font-weight: 400;
  --ds-body-short-xs-line-height: 1.3;
  --ds-body-short-xs-letter-spacing: 0.0015em;
  --ds-body-long-xl-font-weight: 400;
  --ds-body-long-xl-line-height: 1.7;
  --ds-body-long-xl-letter-spacing: 0.005em;
  --ds-body-long-lg-font-weight: 400;
  --ds-body-long-lg-line-height: 1.7;
  --ds-body-long-lg-letter-spacing: 0.005em;
  --ds-body-long-md-font-weight: 400;
  --ds-body-long-md-line-height: 1.7;
  --ds-body-long-md-letter-spacing: 0.005em;
  --ds-body-long-sm-font-weight: 400;
  --ds-body-long-sm-line-height: 1.7;
  --ds-body-long-sm-letter-spacing: 0.0025em;
  --ds-body-long-xs-font-weight: 400;
  --ds-body-long-xs-line-height: 1.7;
  --ds-body-long-xs-letter-spacing: 0.0015em;
}
}
@layer ds.theme.color {
:root, [data-color-scheme], [data-color="accent"] {
  --ds-color-background-default: var(--ds-color-accent-background-default);
  --ds-color-background-tinted: var(--ds-color-accent-background-tinted);
  --ds-color-surface-default: var(--ds-color-accent-surface-default);
  --ds-color-surface-tinted: var(--ds-color-accent-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-accent-surface-hover);
  --ds-color-surface-active: var(--ds-color-accent-surface-active);
  --ds-color-border-subtle: var(--ds-color-accent-border-subtle);
  --ds-color-border-default: var(--ds-color-accent-border-default);
  --ds-color-border-strong: var(--ds-color-accent-border-strong);
  --ds-color-text-subtle: var(--ds-color-accent-text-subtle);
  --ds-color-text-default: var(--ds-color-accent-text-default);
  --ds-color-base-default: var(--ds-color-accent-base-default);
  --ds-color-base-hover: var(--ds-color-accent-base-hover);
  --ds-color-base-active: var(--ds-color-accent-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-accent-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-accent-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="blaa"], [data-color-scheme][data-color="blaa"] {
  --ds-color-background-default: var(--ds-color-blaa-background-default);
  --ds-color-background-tinted: var(--ds-color-blaa-background-tinted);
  --ds-color-surface-default: var(--ds-color-blaa-surface-default);
  --ds-color-surface-tinted: var(--ds-color-blaa-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-blaa-surface-hover);
  --ds-color-surface-active: var(--ds-color-blaa-surface-active);
  --ds-color-border-subtle: var(--ds-color-blaa-border-subtle);
  --ds-color-border-default: var(--ds-color-blaa-border-default);
  --ds-color-border-strong: var(--ds-color-blaa-border-strong);
  --ds-color-text-subtle: var(--ds-color-blaa-text-subtle);
  --ds-color-text-default: var(--ds-color-blaa-text-default);
  --ds-color-base-default: var(--ds-color-blaa-base-default);
  --ds-color-base-hover: var(--ds-color-blaa-base-hover);
  --ds-color-base-active: var(--ds-color-blaa-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-blaa-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-blaa-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="danger"], [data-color-scheme][data-color="danger"] {
  --ds-color-background-default: var(--ds-color-danger-background-default);
  --ds-color-background-tinted: var(--ds-color-danger-background-tinted);
  --ds-color-surface-default: var(--ds-color-danger-surface-default);
  --ds-color-surface-tinted: var(--ds-color-danger-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-danger-surface-hover);
  --ds-color-surface-active: var(--ds-color-danger-surface-active);
  --ds-color-border-subtle: var(--ds-color-danger-border-subtle);
  --ds-color-border-default: var(--ds-color-danger-border-default);
  --ds-color-border-strong: var(--ds-color-danger-border-strong);
  --ds-color-text-subtle: var(--ds-color-danger-text-subtle);
  --ds-color-text-default: var(--ds-color-danger-text-default);
  --ds-color-base-default: var(--ds-color-danger-base-default);
  --ds-color-base-hover: var(--ds-color-danger-base-hover);
  --ds-color-base-active: var(--ds-color-danger-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-danger-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-danger-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="gul"], [data-color-scheme][data-color="gul"] {
  --ds-color-background-default: var(--ds-color-gul-background-default);
  --ds-color-background-tinted: var(--ds-color-gul-background-tinted);
  --ds-color-surface-default: var(--ds-color-gul-surface-default);
  --ds-color-surface-tinted: var(--ds-color-gul-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-gul-surface-hover);
  --ds-color-surface-active: var(--ds-color-gul-surface-active);
  --ds-color-border-subtle: var(--ds-color-gul-border-subtle);
  --ds-color-border-default: var(--ds-color-gul-border-default);
  --ds-color-border-strong: var(--ds-color-gul-border-strong);
  --ds-color-text-subtle: var(--ds-color-gul-text-subtle);
  --ds-color-text-default: var(--ds-color-gul-text-default);
  --ds-color-base-default: var(--ds-color-gul-base-default);
  --ds-color-base-hover: var(--ds-color-gul-base-hover);
  --ds-color-base-active: var(--ds-color-gul-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-gul-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-gul-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="info"], [data-color-scheme][data-color="info"] {
  --ds-color-background-default: var(--ds-color-info-background-default);
  --ds-color-background-tinted: var(--ds-color-info-background-tinted);
  --ds-color-surface-default: var(--ds-color-info-surface-default);
  --ds-color-surface-tinted: var(--ds-color-info-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-info-surface-hover);
  --ds-color-surface-active: var(--ds-color-info-surface-active);
  --ds-color-border-subtle: var(--ds-color-info-border-subtle);
  --ds-color-border-default: var(--ds-color-info-border-default);
  --ds-color-border-strong: var(--ds-color-info-border-strong);
  --ds-color-text-subtle: var(--ds-color-info-text-subtle);
  --ds-color-text-default: var(--ds-color-info-text-default);
  --ds-color-base-default: var(--ds-color-info-base-default);
  --ds-color-base-hover: var(--ds-color-info-base-hover);
  --ds-color-base-active: var(--ds-color-info-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-info-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-info-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="korall"], [data-color-scheme][data-color="korall"] {
  --ds-color-background-default: var(--ds-color-korall-background-default);
  --ds-color-background-tinted: var(--ds-color-korall-background-tinted);
  --ds-color-surface-default: var(--ds-color-korall-surface-default);
  --ds-color-surface-tinted: var(--ds-color-korall-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-korall-surface-hover);
  --ds-color-surface-active: var(--ds-color-korall-surface-active);
  --ds-color-border-subtle: var(--ds-color-korall-border-subtle);
  --ds-color-border-default: var(--ds-color-korall-border-default);
  --ds-color-border-strong: var(--ds-color-korall-border-strong);
  --ds-color-text-subtle: var(--ds-color-korall-text-subtle);
  --ds-color-text-default: var(--ds-color-korall-text-default);
  --ds-color-base-default: var(--ds-color-korall-base-default);
  --ds-color-base-hover: var(--ds-color-korall-base-hover);
  --ds-color-base-active: var(--ds-color-korall-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-korall-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-korall-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="neutral"], [data-color-scheme][data-color="neutral"] {
  --ds-color-background-default: var(--ds-color-neutral-background-default);
  --ds-color-background-tinted: var(--ds-color-neutral-background-tinted);
  --ds-color-surface-default: var(--ds-color-neutral-surface-default);
  --ds-color-surface-tinted: var(--ds-color-neutral-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-neutral-surface-hover);
  --ds-color-surface-active: var(--ds-color-neutral-surface-active);
  --ds-color-border-subtle: var(--ds-color-neutral-border-subtle);
  --ds-color-border-default: var(--ds-color-neutral-border-default);
  --ds-color-border-strong: var(--ds-color-neutral-border-strong);
  --ds-color-text-subtle: var(--ds-color-neutral-text-subtle);
  --ds-color-text-default: var(--ds-color-neutral-text-default);
  --ds-color-base-default: var(--ds-color-neutral-base-default);
  --ds-color-base-hover: var(--ds-color-neutral-base-hover);
  --ds-color-base-active: var(--ds-color-neutral-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-neutral-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-neutral-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="reverse"], [data-color-scheme][data-color="reverse"] {
  --ds-color-background-default: var(--ds-color-reverse-background-default);
  --ds-color-background-tinted: var(--ds-color-reverse-background-tinted);
  --ds-color-surface-default: var(--ds-color-reverse-surface-default);
  --ds-color-surface-tinted: var(--ds-color-reverse-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-reverse-surface-hover);
  --ds-color-surface-active: var(--ds-color-reverse-surface-active);
  --ds-color-border-subtle: var(--ds-color-reverse-border-subtle);
  --ds-color-border-default: var(--ds-color-reverse-border-default);
  --ds-color-border-strong: var(--ds-color-reverse-border-strong);
  --ds-color-text-subtle: var(--ds-color-reverse-text-subtle);
  --ds-color-text-default: var(--ds-color-reverse-text-default);
  --ds-color-base-default: var(--ds-color-reverse-base-default);
  --ds-color-base-hover: var(--ds-color-reverse-base-hover);
  --ds-color-base-active: var(--ds-color-reverse-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-reverse-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-reverse-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="success"], [data-color-scheme][data-color="success"] {
  --ds-color-background-default: var(--ds-color-success-background-default);
  --ds-color-background-tinted: var(--ds-color-success-background-tinted);
  --ds-color-surface-default: var(--ds-color-success-surface-default);
  --ds-color-surface-tinted: var(--ds-color-success-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-success-surface-hover);
  --ds-color-surface-active: var(--ds-color-success-surface-active);
  --ds-color-border-subtle: var(--ds-color-success-border-subtle);
  --ds-color-border-default: var(--ds-color-success-border-default);
  --ds-color-border-strong: var(--ds-color-success-border-strong);
  --ds-color-text-subtle: var(--ds-color-success-text-subtle);
  --ds-color-text-default: var(--ds-color-success-text-default);
  --ds-color-base-default: var(--ds-color-success-base-default);
  --ds-color-base-hover: var(--ds-color-success-base-hover);
  --ds-color-base-active: var(--ds-color-success-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-success-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-success-base-contrast-default);
}

}

@layer ds.theme.color {
[data-color="warning"], [data-color-scheme][data-color="warning"] {
  --ds-color-background-default: var(--ds-color-warning-background-default);
  --ds-color-background-tinted: var(--ds-color-warning-background-tinted);
  --ds-color-surface-default: var(--ds-color-warning-surface-default);
  --ds-color-surface-tinted: var(--ds-color-warning-surface-tinted);
  --ds-color-surface-hover: var(--ds-color-warning-surface-hover);
  --ds-color-surface-active: var(--ds-color-warning-surface-active);
  --ds-color-border-subtle: var(--ds-color-warning-border-subtle);
  --ds-color-border-default: var(--ds-color-warning-border-default);
  --ds-color-border-strong: var(--ds-color-warning-border-strong);
  --ds-color-text-subtle: var(--ds-color-warning-text-subtle);
  --ds-color-text-default: var(--ds-color-warning-text-default);
  --ds-color-base-default: var(--ds-color-warning-base-default);
  --ds-color-base-hover: var(--ds-color-warning-base-hover);
  --ds-color-base-active: var(--ds-color-warning-base-active);
  --ds-color-base-contrast-subtle: var(--ds-color-warning-base-contrast-subtle);
  --ds-color-base-contrast-default: var(--ds-color-warning-base-contrast-default);
}

}
